# Copyright (C) 2023 David Ben-Yaakov
# This program was developed using codermerlin.academy resources.
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see https://www.gnu.org/licenses/.

# Vapor 
export VAPOR_LOCAL_HOST=$VAPOR_LOCAL_HOST
export VAPOR_LOCAL_PORT=$VAPOR_LOCAL_PORT
export VAPOR_SERVER_PUBLIC_URL=https://codermerlin.academy/vapor/$USER

# Database
export MYSQL_HOSTNAME=db
export MYSQL_PORT=3306
export MYSQL_USERNAME=
export MYSQL_PASSWORD=
export MYSQL_DATABASE=

# Notifications
export NOTIFICATION_API_URI=https://api-server.codermerlin.com/v1/notifications/email/enqueue
export NOTIFICATION_API_KEY=


# Templates
export NOTIFICATION_TEMPLATE_ID_VERIFY_ACCOUNT=
export NOTIFICATION_TEMPLATE_ID_FORGOT_PASSWORD=
