<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Allen ISD | Teacher Duty</title>
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="images/allenisdLogo.png" />
    <script defer src="js/adminPanel.js"></script>
  </head> 

<ul>
  <li><a href="./index">Home</a></li>
  <li><a class="active" href="./adminPanel">Admin Panel</a></li>
</ul>
<body>
  <h1>Admin Panel</h1>
  <button type="button" id="addUser">Add User</button>
  <button type="button" id="editMode">Edit Mode: Off</button>
  <input type="text" id="userSearch" onkeyup="userSearch()" placeholder="Search for Users...">
  
  <table id="userTable" class="editable" style="overflow-x:auto;">
    
    <tr class="header">
      <th style="width:60%;">ID</th>
      <th style="width:60%;">Name</th>
      <th style="width:60%;">UserID</th> 
      <th style="width:60%;">canView</th>
      <th style="width:60%;">canEdit</th>
      <th style="width:60%;">isAdmin</th> 
    </tr>
    
  </table>
  
  <div id="userCreateModal" class="modal">
    <!-- Modal content -->
    
    <div class="modal-content">
      
      <span class="close">&times;</span>
      
      <form id="createUserForm" style="border:1px solid #ccc">
	
	<div class="container">
	  
	  <h1>Add User</h1>
	  
	  <p>Please fill in this form to create an new user.</p>
	  <hr>
	  <label for="name"><b>Name</b></label>
	  
	  <input type="text" placeholder="Enter Name" name="name" id="name" required>
	  
	  <label for="userID"><b>UserID</b></label>
	  
	  <input type="text" placeholder="Enter UserID" name="userID" id="userID" required>
	  
	  <label>  
	    <input type="checkbox" name="canView" id="canView" style="margin-bottom:15px"> CanView  
	  </label>
	  
	  <label>  
	    <input type="checkbox" name="canEdit" id="canEdit" style="margin-bottom:15px"> CanEdit  
	  </label>
	  
	  <label>  
	    <input type="checkbox" name="isAdmin" id="isAdmin" style="margin-bottom:15px"> isAdmin  
	  </label>
	  
	  
	  <div class="clearfix">
	    
	    <button type="submit" id="userCreateButton" class="finishUserBtn">Create</button>
	    
	  </div>
	  
	</div>
	
      </form>
      
    </div>
  </div>
  
</body>
</html>
